.card-page {
  border: 0;

  .card-header {
    display: flex;

    .card-page-title {
      text-align: center;
      flex-grow: 1;
    }
  }

  .card-page-body {
    .wrap-spinner {
      .spinner-border-loading {
        margin-bottom: 30px;
      }

      .text-label {
        margin-left: 10px;
      }
    }

    .wrap-list-result {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;


      .item-result {
        margin-bottom: 30px;
        flex-basis: 100%;
		
		&:hover{
			text-decoration: none;
		}

        .card-header {
          display: flex;

          .card-title {
            flex-grow: 1;
          }
        }

        &:last-child {
          margin-bottom: 0;
        }

      }
    }
  }
}
