.card-page {
  border: 0;

  .card-header {
	position: relative;

    .card-page-title {
      text-align: center;    
      margin: 0 25%;
	  white-space: nowrap;
	  text-overflow: ellipsis;
	  outline: 0;
	  overflow: hidden;
    }
	
	.btn-cadastrar{		
		position: absolute;
		top:15px;
		right: 15px;
			
		.material-icons{
			font-size: 30px;
		}
	}
	
	.btn-voltar{
		position: absolute;
		top:15px;
		left: 15px;
			
		.material-icons{
			font-size: 30px;
		}
	}
  }

  .card-page-body {
    .wrap-spinner {
      .spinner-border-loading {
        margin-bottom: 30px;
      }

      .text-label {
        margin-left: 10px;
      }
    }

    .wrap-list-result {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;


      .item-result {
        margin-bottom: 30px;
        flex-basis: 100%;
		
		&:hover{
			text-decoration: none;
		}

        .card-header {
          display: flex;

          .card-title {
            flex-grow: 1;
          }
        }

        &:last-child {
          margin-bottom: 0;
        }

      }
    }
  }
}

.df-form{
	max-width: 769px;
	margin: 0 auto;
	  display: flex;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
	  
	.form-group{
		flex-basis: 100%;
		position: relative;
		
		.form-control-multi-select{
			max-height: 38px;
			
			&:focus, 
			&:hover{
				max-height: initial;
				position: absolute; 
				z-index: 1;				
			}
		}
		
		&:hover{
			.form-control-multi-select{
				max-height: initial;
				position: absolute; 
				z-index: 1;	
			}
		}
		
	}
	
	.form-actions{
		margin: 0 auto;
		display: inline-block;
	}
}
